.cover__link {
  font-family: "Inter", "Arial", sans-serif;
  background-color: rgba(42,44,47,.3);
  width: 100vw;
  min-height: 62.5vw;
	display: flex;
	align-items: center;
  justify-content: center;
	flex-direction: column;
	text-decoration: none;
	transition: .2s ease;
}

.cover__link:hover {
  opacity: 0.8;
  background: #2A2C2F;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover {
    min-height: 62vw;
  }
}
