h1, h2, h3, h4, h5, h6, p, span, section, div, img, li, ul, main {
  margin: 0;
  padding: 0;

  border: 1px solid white;
  box-sizing: border-box;
}

.page {
  margin: 0 auto;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;

  box-sizing: border-box;

  background-color: #2A2C2F;
  color: #FFFFFF;
}
